<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Agrovoc Search</title>
<!-- TMPL_INCLUDE NAME="greybox.inc" -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR NAME="themelang"-->/css/agrovoc.css" />
<style type="text/css">
    div#searchPane {
        float: left;
        width: 45%;
    }

    input#selectorField {
        width: 90%;
    }

    div#searchResultsPane {
        float: left;
        width: 45%
    }
    
    div#termPane {
        float: right;
        width: 53%;
    }

    div#selectPane {
        clear: both;
    }
</style>
<script type="text/javascript" src="<!-- TMPL_VAR NAME="themelang" -->/lib/json2.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR NAME="themelang" -->/js/agrovoc.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name='themelang' -->/js/agrovoc.support.js"></script>
<style type="text/css">
   #custom-doc { width:53em;*width:51.72em;min-width:689px; margin:auto; text-align:left; }
#ss-results { border: 2px inset;
    height: 400px;
    overflow: auto;
    width:500px;
      z-index: 500;
   #term_details { float: right; width: 23.3333em; }
    
</style>
</head>
<body>
<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a></div>
 <div id="pageContainer">
   <div id="pageContent">
        <h1>Agrovoc Term Search</h1>
        <div data-module="Search" data-module-id="searchPane">
            <!--<form id="agrovocSearch" method="get" action="search.pl">-->
            <form id="agrovocSearch">
<!--                <input type="hidden" name="op" value="do_simple_search" />-->
                <label for="searchmode">Search</label><br/>
                <select name="searchmode" id="searchmode">
                    <option value="starting">starting with</option> 
                    <option value="containing">containing</option> 
                    <option value="end with">end with</option> 
                    <option value="exact">exact</option> 
                </select> 
                        <input type="text" id="searchstring" name="searchstring" value="<!-- TMPL_VAR ESCAPE='HTML' name='searchstring' -->" maxlength="50" size="15" />

                <br/>
                <label for="lang_english">Search Languages</label>
                <!-- TMPL_IF NAME="lang_english" -->
                English: <input type="checkbox" name="lang_english" id="lang_english" value='EN' checked="1" />
                <!-- TMPL_ELSE -->
                English: <input type="checkbox" name="lang_english" id="lang_english" value='EN'  />
                <!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="lang_french" -->
                French: <input type="checkbox" name="lang_french" id="lang_french" value='FR' checked="1"/>
                <!-- TMPL_ELSE -->
                French: <input type="checkbox" name="lang_french" id="lang_french" value='FR' />
                <!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="lang_spanish" -->
                Spanish: <input type="checkbox" name="lang_spanish" id="lang_spanish" value='ES' checked="1"  />
                <!-- TMPL_ELSE -->
                Spanish: <input type="checkbox" name="lang_spanish" id="lang_spanish" value='ES'  />
                <!-- /TMPL_IF -->
                <br/>
                <div class="buttonBar">
<input class="green90x24" type="button" value="search" onclick="searchTerm(); return false;" />
                </div>
            </form>
         </div><!-- searchPane -->
<!---  TERM PANE -->
         <div data-module="Term" data-module-id="termPane" id="TermPane">
            <h2>Term Entry</h2>
            <div id="termcodeLabel">
            <p>
            <!-- TMPL_IF NAME="termcode" -->
                        <!-- TMPL_VAR NAME="termcode" -->: <strong><!-- TMPL_VAR NAME="labels" --></strong>
            <!-- /TMPL_IF -->
            </p>
            </div>
<div id='altlang'>
<!-- Show term in Spanish/French -->
<ul>
<!-- TMPL_LOOP NAME="ALTLANG" -->
<li>
See in <button type="button" class="termlink" onclick="lookupTerm(<!-- TMPL_VAR NAME='termcode' -->,'<!-- TMPL_VAR NAME='langcode'-->'); return false;"><!-- TMPL_VAR NAME='langname' --></button>
</li>
<!-- /TMPL_LOOP -->
</ul>
</div>
<br /\>
<strong>Use:</strong>
<div id="USElist">
<ul>
<!-- TMPL_LOOP NAME="USE" -->
    <li>
    <!-- TMPL_VAR NAME="label" --> 
    <button type="button" class="termlink" onclick="lookupTerm(<!-- TMPL_VAR NAME='termcode' -->,'<!-- TMPL_VAR NAME='termlang'-->'); return false;"><!-- TMPL_VAR NAME='termcode' --></button>
    </li>
<!-- /TMPL_LOOP -->
</ul>
</div>
<br /\>
<strong>Use For:</strong>
<div id="UFlist">
<ul>
<!-- TMPL_LOOP NAME="UF" -->
    <li>
    <!-- TMPL_VAR NAME="label" --> 
    <button type="button" class="termlink" onclick="lookupTerm(<!-- TMPL_VAR NAME='termcode' -->,'<!-- TMPL_VAR NAME='termlang'-->'); return false;"><!-- TMPL_VAR NAME='termcode' --></button>
    </li>
<!-- /TMPL_LOOP -->
</ul>
</div>
<br />
<strong>Broader Terms:</strong>
<div id="BTlist">
<ul>
<!-- TMPL_LOOP NAME="BT" -->
<li>
    <!-- TMPL_VAR NAME="label" -->
    <button type="button" class="termlink" onclick="lookupTerm(<!-- TMPL_VAR NAME='termcode' -->,'<!-- TMPL_VAR NAME='termlang'-->'); return false;"><!-- TMPL_VAR NAME='termcode' --></button>
</li> 
<!-- /TMPL_LOOP -->
</ul>
</div>

<br />
<strong>Narrower Terms:</strong>
<div id="NTlist">
<ul>
<!-- TMPL_LOOP NAME="NT" -->
<li>
    <!-- TMPL_VAR NAME="label" -->
    <button type="button" class="termlink" onclick="lookupTerm(<!-- TMPL_VAR NAME='termcode' -->,'<!-- TMPL_VAR NAME='termlang'-->'); return false;"><!-- TMPL_VAR NAME='termcode' --></button>
</li> 
<!-- /TMPL_LOOP -->
</ul>
</div>
<br />
<strong>Related terms:</strong>
<div id="RTlist">
<ul>
<!-- TMPL_LOOP NAME="RT" -->
<li>
    <!-- TMPL_VAR NAME="label" -->
    <button type="button" class="termlink" onclick="lookupTerm(<!-- TMPL_VAR NAME='termcode' -->,'<!-- TMPL_VAR NAME='termlang'-->'); return false;"><!-- TMPL_VAR NAME='termcode' --></button>
</li>
<!-- /TMPL_LOOP -->
</ul>
</div>
<br />
<strong>Definitions:</strong><br />
<!-- TMPL_VAR NAME="DEF" -->
<br />
<div class="buttonBar" id="saveButtonBar">
    <!-- TMPL_IF NAME="termcode" -->
    <strong>Save As:</strong>
    <button class="green90x24" onclick="saveTerm(1,<!-- TMPL_VAR NAME='termcode' -->,'<!-- TMPL_VAR NAME='labels' -->','<!-- TMPL_VAR NAME='termlang'-->'); return false;">Primary</button>
    <button class="green90x24" onclick="saveTerm(2,<!-- TMPL_VAR NAME='termcode' -->,'<!-- TMPL_VAR NAME='labels' -->','<!-- TMPL_VAR NAME='termlang'-->'); return false;"> Secondary</button>
    <!-- /TMPL_IF -->
</div>

</div><!-- termPane -->
         <div data-module="SearchResults" data-module-id="searchResultsPane">
            <h2>Search Results</h2> <!-- var ss_results_mode set -->
            <div id="resultsList">
            <ul>
            <!-- TMPL_LOOP NAME="term_array" -->
                <li>
                <!-- TMPL_VAR NAME="matchedTerm" --> (<!--TMPL_VAR NAME="language" -->) 
                (<a href="term.pl?termcode=<!-- TMPL_VAR NAME='termcode' -->&lang=<!--TMPL_VAR NAME='language' -->"><!-- TMPL_VAR NAME="termcode"--></a>)
                </li>
<!-- /TMPL_LOOP -->
            </ul>
            </div>
        </div>
         <div data-module="Select" data-module-id="selectPane">
            <h2>Selected</h2>
                <div id="savedTerms">
                </div>
                <form>
                <div id="primaryTerms">
                </div>
                <div id="secondaryTerms">
                </div>
                </form>
         </div><!-- termPane -->

      </div><!-- pageContent -->
 </div><!-- pageContainer -->

</body>
